.logo,
.title-logo,
.first-games {
  display: flex;
  justify-content: center;
  margin: 0 2%;
}

footer {
  background-color: black;
  color: white;
}

[class*="col-"] {
  border-radius: 25px;
  margin: 0 2%;
  padding: 0 5px;
}

.col-1 {
  flex: 0 0 20%;
  background-color: #c6c6c6;
}

.game-title {

}
